.info-window img {width: 150px; height: 100px; object-fit: cover;}
.info-window {width: auto;}

/* Grundlayout */
.map-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Karta */
  .map-box {
    width: 100%;
  }
  
  /* Adressruta */
  .address-box {
    align-items: center;
    padding: 15px 40px;
    color: rgb(255, 255, 225);
    background-color: rgba(71, 102, 59, 0.8);
    text-align: center;
  }

  .address-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  /* Ikon */
  .icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  /* Desktop layout */
  @media (min-width: 768px) {
    .map-container {
      flex-direction: row; /* Kartan och adressrutan sida vid sida */
      height: 400px;

    }
  
    .map-box {
      width: 60%;
    }
  
    .address-box {
      width: 40%;
      justify-content: center;
      align-items: center;
    }
  }
  