.img-grid-b{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Två kolumner på mobil */
    grid-template-rows: auto auto; /* Två rader */
    gap: 10px;
    width: 90%;
    box-sizing: border-box;
    justify-content: center;
    margin: 25px auto;
}

.img-grid-b img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-grid-b-item-1{
    grid-column: 1 / 3; /* Item 1 sträcker sig über båda kolumnerna */
    grid-row: 1;
}

.about-container{
    margin: 25px auto;
    width: 90%;
    box-sizing: border-box;
    justify-content: center;
}

@media (min-width: 768px) {
    .img-grid-b{
        grid-template-columns: 1fr 1fr 1fr; /* Låt alla kolumner vara lika bredda */
        gap: 25px;
        width: 90%;
        height: auto;
        grid-template-areas: "a b c";

    }

    .img-grid-b-item-1{
        grid-area: a; /* Item 1 sträcker sig über de två första kolumnerna */
        aspect-ratio: 1/1;
    }

    .img-grid-b-item-2{
        grid-area: b; /* Item 2 på första kolumnen */
        aspect-ratio: 1/1;
    }

    .img-grid-b-item-3{
        grid-area: c; /* Item 3 på andra kolumnen */
        aspect-ratio: 1/1;
    }
}

@media (min-width: 1024px) {
    .img-grid-b{
        grid-template-columns: 40% 60%; /* Återgå till din ursprungliga layout med två kolumner */
        grid-template-rows: 400px 400px;
        gap: 25px;
        width: 70%;
        grid-template-areas: "b a" "c a";
    }

    .img-grid-b-item-1, .img-grid-b-item-2, .img-grid-b-item-3{
        aspect-ratio: auto;
    }

    .about-container{
        margin: 0px auto;
        width: 71%;
        justify-content: center;
        font-size: 1.2rem;
    }

}
