.footer {
    padding: 20px;
    background-color: rgba(71, 102, 59, 1);
  }
  
  .footer-container {
    width: 100%;
    margin: 50px auto;
  }
  
  .footer-left p,
  .footer-center p,
  .footer-right p {
    margin: 5px 0;
    font-size: 1.1rem;
    color: rgb(255, 255, 225);
  }
  
  .footer-right {
    margin-top: 50px;
  }

  .footer-left {
    margin-top: 30px;
  }

  .icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon-footer {
    width: 24px;
    font-size: 24px;
    margin-right: 10px;
  }

  .social-icons-footer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: end;
  }
  
  .icon-footer {
    font-size: 24px;
    cursor: pointer;
    color: rgb(255, 255, 225);
  }
 
  .footer-center {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 225);
  }
  @media (min-width: 769px) {
    .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 50px auto;
    }
    .footer-right {
      max-width: 40%;
    }

  }