/* HTML: <div class="ribbon">Your text content</div> 
.ribbon {
    font-size: 28px;
    font-weight: bold;
    color: rgba(240, 240, 215, 1);
  }
  .ribbon {
    --r: .8em; /* control the ribbon shape 
    
    padding-inline: calc(var(--r) + .3em);
    line-height: 1.8;
    clip-path: polygon(0 0,100% 0,calc(100% - var(--r)) 50%,100% 100%,0 100%, var(--r) 50%);
    background: rgba(71, 102, 59, 1); /* the main color 
    width: 90%;
    text-align: center;
    margin: 20px auto; /* Centrera horisontellt 
    padding: 20px;
  }